.contact {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  margin-bottom: 200px;
}
.contact-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 725px;
  .contact-title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    h1 {
      font-size: 24px;
    }
  }
  .contact-info {
    max-width: 628px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      font-size: 20px;
      margin-top: 10px;
    }
    p {
      font-size: 15px;
    }
  }
  .contact-detail-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5px;
  }
  .contact-detail {
    display: flex;
    max-width: 469px;
    text-align: center;
    justify-content: center;
    align-items: center;
    p {
      font-size: 12px;
    }
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    .form-control {
      display: flex;
      max-width: 550px;
      input {
        width: 265px;
        height: 48px;
        margin: 10px 10px;
        padding: 0 30px;
        border: 1px solid #989898;
        border-radius: 50px;
      }
    }
    .form-control-long {
      max-width: 550px;
      input {
        width: 465px;
        height: 48px;
        margin: 10px 10px;
        padding: 0 30px;
        border: 1px solid #989898;
        border-radius: 50px;
      }
      textarea {
        width: 465px;
        height: 150px;
        margin: 10px 10px;
        padding: 10px 30px;
        &::placeholder {
          margin-top: 10px;
          font-size: 14px;
        }
        border: 1px solid #989898;
        border-radius: 10px;
      }
    }
    .form-control-btn {
      display: flex;
      justify-content: center;
      max-width: 550px;
      button {
        width: 135px;
        height: 40px;
        margin: 10px 10px;
        padding: 0 30px;
        border: 1px solid #0010d7;
        border-radius: 50px;
        background-color: #0010d7;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #fff;
          color: #0010d7;
        }
      }
    }
  }
  .about-link {
    display: flex;
    justify-content: space-between;
    max-width: 725px;
    margin-top: 50px;
    a {
      font-size: 16px;
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .socal-link {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .socal-link-con {
      width: 100%;
      max-width: 252px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      img {
        width: 43px;
        height: 43px;
        cursor: pointer;
      }
    }
  }
}
